*.pyc
*.ipynb_checkpoints
__pycache__
CAE/data/result
CAE/data/datacheck
MTRNN/data/result
.DS_Store
NN/data/*/result
NN/data/GatedMTRNN/train_output
preprocess/data/*
.vscode/*
for_thesis/make_movie/data/*